---
Language: Cpp

# Limits
ColumnLimit: 120

# Indents
IndentWidth: 2
PPIndentWidth: 2
NamespaceIndentation: Inner

# Breaking
BreakBeforeBraces: Stroustrup
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None

# Alignments
PointerAlignment: Right
ReferenceAlignment: Right

# Break parameters to each line
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false

# Spaces
SpaceBeforeParens: Never

---
Language: CSharp

