---
Language: Cpp

# Limits
ColumnLimit: 120

# Indents
IndentWidth: 4
PPIndentWidth: 4
NamespaceIndentation: All

# Breaking
BreakBeforeBraces: Stroustrup
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None

# Alignments
PointerAlignment: Left
ReferenceAlignment: Left

# Break parameters to each line
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false

# Spaces
SpaceBeforeParens: Never

# Tabs
UseTab: Never

# Includes
SortIncludes: Never

---
Language: CSharp