[submodule "libraries/external/repos/imgui"]
	path = libraries/external/repos/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "imgui"]
	branch = docking
[submodule "libraries/external/repos/asmjit"]
	path = libraries/external/repos/asmjit
	url = http://github.com/asmjit/asmjit
[submodule "libraries/external/repos/asio"]
	path = libraries/external/repos/asio
	url = http://github.com/chriskohlhoff/asio/
[submodule "libraries/external/repos/glm"]
	path = libraries/external/repos/glm
	url = http://github.com/g-truc/glm
[submodule "libraries/external/repos/entt"]
	path = libraries/external/repos/entt
	url = http://github.com/skypjack/entt/
