html{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

body{
    background-color: dimgray;
    height: 100%;
    margin: 0;
}

#branding{
    background-color: grey;
    text-align: center;
    margin: 10px auto;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}
#branding h1{
    margin-top: 0;
}
#branding p{
    margin-bottom: 0;
}

#nav{
    display: flex;
    justify-content: center;
    background-color: black;
}

#nav a{
    margin: 0 5px;
}

#nav a,
#nav a:visited
{
    text-decoration: none;
    color: white;
}

#nav a:hover{
    color: green;
}

#content{
    background-color: white;
    min-height: 80%;
    width: 100%;
    max-width: 700px;
    margin: 10px auto;
    padding: 20px;
}

@media only screen and (max-width: 770px){
    #content {
        margin: 10px 10px;
        width: auto;
    }
}
