html{
    font-family: 'Open Sans', sans-serif;
}

header{
}

#branding{
    text-align: center;
    margin: 0 auto;
    width: fit-content;
}

#navigation{
    display: flex;
    list-style-type: none;
    justify-content: center;
    background-color: black;
}

#navigation li{
    margin: 0 5px;
}

#navigation a,
#navigation a:visited
{
    text-decoration: none;
    color: white;
}

#navigation a:hover{
    color: green;
}
